  body {
    height: 2000px;
    color: #777777;
    font-family: Arial, Helvica Neue, Helvetica, sans-serif;
  }
  .bg {
      background-image: url('../images/blue-snow.png');
  }
  p {
      color: #777777;
  }
  .content {
    color: teal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }
  a {
      text-decoration: none;
      text-decoration-line: none;
  }
  .name {
      color: white;
      background-color: teal;
  }
  nav {
    font-size: larger;
  }
  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
  }
  .header-container {
    background-color: white;
  }
  .nav-row {
    background-color: white;
  }
  #headerContent {
    color: teal;
  }
  #contentHeader {
    border-bottom: 2px solid #777777;
  }
  #skills {
      font-size: smaller;
  }

  footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
  }
  .copywright {
    vertical-align: bottom;
  }
  #frmContact {
      color: #777777;
  }
  #btnSubmit {
      font-size: x-large;
      color: white;
      background-color: teal;
  }
  .tag {
      color: white;
      background-color: teal;
  }
 
